a{
    color: blue;
    font-size: 20px;
    font-style: oblique;
    padding: 5%;
}
.container{
    margin: 2px;
    float: left;
    width: 97%;
    background: linear-gradient(to bottom right, blue, white);
    text-align: center;
    font-style: oblique;
    border-style: outset;
}


