<meta name="viewport" content="width=device-width, initial-scale=1">
<h2 style="text-align: center;">Dabba Premier League</h2>
<div class="container">
    <a routerLink="polling">Polling</a>
</div>
<div class="container">
    <a routerLink="graph">Points Graph</a>
</div>
<div class="container">
    <a routerLink="listMatches">List All Matches</a>
</div>
<div class="container">
    <a routerLink="addMatch">Add Match</a>
</div>
<router-outlet></router-outlet>


<!-- <ul>
      <li><a routerLink="polling">Polling</a></li>
      <li><a routerLink="graph">Points Graph</a></li>
      <li><a routerLink="listMatches">List All Matches</a></li>
      <li><a routerLink="addMatch">Add Match</a></li>
    </ul> -->