ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom right, blue, white);
    border-style: outset;
}

li {
    float: left;
}

li a {
    display: block;
    padding-left: 50px;
    padding: 20px;
    text-align: center;
    margin-left: 150px;
    font-size: 20px;
}

a:focus {
    color: white;
  }


