a{
    color: blue;
    font-size: 20px;
    font-style: oblique;
}
.container{
    padding: 5px;
    margin: 5px;
    margin-bottom: 30px;
    float: left;
    width: 22%;
    background: linear-gradient(to bottom right, blue, white);
    text-align: center;
    font-style: oblique;
}


