.column {
    float: left;
    width: 31%;
    padding: 10px;
    text-align: center;
    border-style: outset;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

