img {
    height: auto;
    width: 100px;
}

.Polling{
    position: relative;
    padding: 50px;
    left: 10%;
}

mat-card{
    position: absolute;
    text-align: center;
    width: 170px;
    height: auto;
}