img {
    height: auto;
    width: 100px;
}

.Polling{
    position: relative;
    left: 20%;
    top: 20%;
}

mat-card{
    position: absolute;
    text-align: center;
    width: 170px;
    height: auto;
}